@charset "utf-8";

$content-heading-color: #f5f5f5;
$table-cell-border: 0;

html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #1f2424;
}

body a {
    color: #058e75
}

body a:hover {
    color: #bdcece
}

body .table {
    background-color: #1f2424;
}

body .content,
body .title,
body .subtitle  {
    color: #bdcece;
}


body .box {
    background-color: #343c3d;
}

html, 
body.light, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}

body.light a {
    color: #1d8b1a
}

body.light a:hover {
    color: #363636
}

body.light .table {
    background-color: #ffffff;
}

body.light .content,
body.light .title {
    color: #363636;
}

body.light .subtitle {
    color: #7a7a7a;
}


body.light .box {
    background-color: #f5f5f5;
}




@import "~bulma/bulma.sass";